#org-div-home-and-up {
    font-size: 0.8rem;
    margin-top: 1rem;
}

body {
    font-family: Georgia, serif;
    max-width: 60em;
    margin: auto;
    padding: 0 5px;
    width: auto;
    background-color:  #fffff3;
    color: #111213;
    counter-reset: sidenote-counter;
}

.title {
    font-size: 2.3rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1;
    color: #a00000;
}

.title::after { /* title underline */
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid;
}

/* Headers */
/* ======= */
h2 {
    font-size: 1.8rem;
    font-weight: 200;
}

h3 {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 150;
}

h4 {
    font-size: 1em;
    margin-top: 10px;
    text-align: left;
    letter-spacing: -1px;
}


/* Paragraphs */
/* ========== */

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

p.date {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
}

p.creator {
    display: flex;
    justify-content: center;
}

/* Links */
/* ===== */

a:link,
a:visited {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
}

a:hover {
    text-decoration-style: dashed;
}

/* Code blocks */
/* =========== */
pre.src {
    font-size: 0.9em;
    font-family: Lucida Console, Consolas, "Liberation Mono", monospace;
    line-height: 1.5;
    display: block;

    padding: 2px 5px;
    border: 1px solid #bbb;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #aaa;
    overflow: auto;

    /* See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
    -webkit-text-size-adjust: 100%;

}

/* Tags */
/* ==== */
.tag * {
    font-family: Lucida Console, monospace;
    font-size: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #eee;
    position: relative;
    padding: .1em .5em;
}
